.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  font-family: 'Spline Sans', sans-serif;
  line-height: 1.5;
}



h1{
  font-size: 2.5rem;
}

main {
  height: 100vh;
  background: linear-gradient(to right top, #1e1e2b, #1a1447);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  display: flex;
  background: rgb(255, 255, 255);
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(
      to right bottom,
       rgba(50, 51, 116, 0.05), 
       rgba(24, 26, 75, 0.199)
       );
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(.9rem);
}

.back-overlay {
  display: flex;
  background: white;
  min-height: 90vh;
  width: 5%;
  background: linear-gradient(
      to right bottom,
       rgba(23, 24, 71, 0.05), 
       rgba(24, 26, 75, 0.1)
       );
  /* background-color: red; */
  border-radius: 2rem 0rem 0rem 2rem;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center; 
  justify-content: center;
  transition: all .3s ease-in-out;
}

.back-icon {
  color: rgba(255, 255, 255, 0.247);
  user-select: none;
}

.back-overlay:hover {
  background: linear-gradient(to left, #0000001e, #13131349);
  cursor: pointer;
}

.back-overlay:hover .back-icon {
    color: rgba(255, 255, 255, 0.123);

}

.fade-in {
  transition: opacity .3s ease-in-out;
}

.fade-in:hover {
  opacity: 90%;
}

.chevron{
  height: 6rem;
  width: 80%;
  position: absolute;
}
.chevron:before {
  content: '';
  position: absolute;
  top: -5rem;
  left: -10rem;
  height: 85%;
  width: 48vw;
  background: linear-gradient(
      to right bottom,
       rgba(22, 52, 70, 0.05), 
       rgb(22, 59, 82)
       );
  transform: skew(0deg, 15deg);
  z-index: 2;
  border-radius: 1.5rem;

  box-shadow: 
    0px -10px 60px rgba(255, 0, 0, 0.966),
   -10px 0px 60px rgba(0, 0, 255, 0.968),
    10px 0px 60px rgba(255, 255, 0, 0.972), 
    0px 10px 60px rgba(0,208,255, 0.972);
  transition: 1.8s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chevron:after {
  content: '';
  position: absolute;
  top: -5rem;
  right: -10rem;
  height: 85%;
  width: 48vw;
  background: linear-gradient(
      to right top,
      rgb(22, 59, 82),
      rgba(22, 52, 70, 0.05)
       );
  transform: skew(0deg, -15deg);
  z-index: 2;
  border-radius: 1.5rem;
  box-shadow: 
    0px -10px 60px rgba(255, 0, 0, 0.966),
   -10px 0px 60px rgba(0, 0, 255, 0.968),
    10px 0px 60px rgba(255, 255, 0, 0.972), 
    0px 10px 60px rgba(0,208,255, 0.972);
  transition: 1.8s;
} 

@keyframes rotate-rev {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.circle {
  z-index: 2;
  width: 500px;
  height: 500px;
  position: absolute;

  background-color: rgba(34, 34, 34, 0);
  border-radius: 50%;
  box-shadow: 
    0px -10px 100px rgba(255, 0, 0, 0.966),
   -10px 0px 100px rgba(0, 0, 255, 0.968),
    10px 0px 100px rgba(255, 255, 0, 0.972), 
    0px 10px 100px rgba(0,208,255, 0.972);
  transition: 1.8s;
  animation: rotate infinite 8s linear;
}

.main-container {
  margin-top: 5%;
  width: 100%;
  height: 700px;
  margin: 25px 25px 25px 25px;
}

.usage-container{
  /* border: 1px solid rgb(255, 255, 255); */
  display:flex;
  justify-content: center;
  height: 600px;
  margin: 25px 10px 10px 10px;
}

.label{
  vertical-align: middle;
  text-align: center;
}

.chart{
  /* border: 1px solid rgb(185, 206, 26); */
  background-color: rgba(20, 13, 48, 0.61);
  height: 360px;
  width: 500px;

}

.disk-chart{
  /* border: 1px solid rgb(185, 206, 26); */
  flex:2;
  margin: 10px;
  margin-bottom: 68px;
  margin-top: 10px;
  }

.use-container{
  /* border: 1px solid rgb(162, 34, 162); */
  text-align: center;
  padding: 20px;   
  margin: 10px;
  height: 600px;
  background: linear-gradient(to right bottom, rgba(10, 6, 24, 0.75), rgba(10, 6, 24, 0.69));

  border-radius: 10px;
  box-shadow: 3px 3px rgba(3, 3, 3, 0.9);
}

h1{
  text-align: center;
}

.stats {
  flex-grow: 1;
  /* border: 1px solid rgb(34, 109, 162);  */
  margin-top: 20px;
  color: #808080;

}

.stat {
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
  color: #808080;
}


.hidden {
  display: none;
}


