terrace_dashboard/__pycache__
terrace_dashboard/logs/*
.vscode/*
__pycache__
/test.py
/test_*.*
terrace_dashboard/utilities/__pycache__
/setup.cfg
MANIFEST.in
/setup.py
/docs/site/*
/tests/fixtures/simple_project/setup.py
/tests/fixtures/project_with_extras/setup.py
.mypy_cache

.venv
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*