comtypes==1.2.0
fastapi==0.96.0
httpx==0.24.1
motor==3.1.2
psutil==5.9.5
psutil==5.9.4
pyautogui==0.9.54
pycaw==20230407
pydantic==1.10.9
pydirectinput==1.0.4
pytest==7.2.1
python_jose==3.3.0
rich==13.4.1
uvicorn==0.22.0
websockets==10.4
