<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/notes/notes.css"
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/notes/main.js" type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap&family=Spline+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
        <div class="glass">
            <div class="notes" id="app"></div>
        </div>
    </main>


</body>
</html>